[custom-tooltip] {
  // position: absolute;
  // top: 0;
  // left: 0;
  // background: #222;
  // color: white;
  // font-weight: bold;
  // padding: 5px;
  // border-radius: 4px;
  // font-size: 90%;
  // pointer-events: none;
}
