---
// Component Imports
import Snippet from './Snippet.astro';

// @ts-ignore
let snippets = await Astro.glob('../../snippets/*.md');

let sortFn = (a, b) => {
  let aPriority = a.frontmatter.priority as number;
  let bPriority = b.frontmatter.priority as number;
  if (aPriority < bPriority)
    return -1;
  else if (aPriority > bPriority)
    return 1;
  else
    return 0;
};
---

<div class="snippets divide-y divide-gray-500/10">
  {
    snippets
      .sort(sortFn)
      .map(async ({ Content, frontmatter }) => {
        return (
          <Snippet content={frontmatter}>
            <Content />
          </Snippet>
        );
      })
  }
</div>

<style lang="scss">
  .snippets {
    @apply bg-gray-500/20 rounded-3xl p-6;
  }  
</style>