---
import Layout from "../layouts/Layout.astro";
---

<Layout {...{
    title: 'bundle - a quick npm package size checker',
    description: "bundle is a quick and easy way to bundle, minify and gzip your projects and check said gzipped size. It's similar to bundlephobia but does all the work locally on you computer and can treeshake and bundle multiple packages (both commonjs and esm) together.",
    publishDate: 'Tuesday, June 8 2021',
    author: 'fred',
    alt: 'Astro'
}}>
  <div class="container max-w-screen-lg" id="about">
    <h2 class="text-center">about</h2>
    <a id="product-hunt"
        href="https://www.producthunt.com/posts/bundle-6?utm_source=badge-featured&amp;utm_medium=badge&amp;utm_souce=badge-bundle-6"
        target="_blank">
        <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=300568&amp;theme=dark"
            alt="bundle - An online npm package bundle size checker | Product Hunt" 
            style="width: 250px; height: 54px;"
            width="250" height="54" />
    </a>

    <p>
        <strong>bundle</strong> is a quick and easy way to bundle your projects and see the minified and gzip size, it's
        similar to <a href="https://bundlephobia.com" target="_blank" rel="noopener">bundlephobia</a> but does all the
        work locally on you computer and can treeshake multiple packages (both commonjs and esm) into a bundle, it
        currently doesn't support Typescript, but I plan to build support for it at a later date.
    </p>
    <br /><br />

    <p>
        I used <a href="https://github.com/microsoft/monaco-editor" target="_blank" rel="noopener">monaco-editor</a> for
        the code-editor, <span class="line-through">
            <a href="https://github.com/evanw/esbuild" target="_blank" rel="noopener">esbuild</a>
        </span> <a href="https://github.com/rollup/rollup" target="_blank"
            rel="noopener"> rollup</a> as a bundler,<a href="https://github.com/nodeca/pako" target="_blank"
            rel="noopener"> pako</a> as a js port of the zlib and gzip libraries, <a
            href="https://github.com/sindresorhus/pretty-bytes" target="_blank" rel="noopener"> pretty-bytes</a> to
        convert the gzip size to human readable values, and <a href="https://github.com/mlomb/countapi-js"
            target="_blank" rel="noopener"> countapi-js</a> to keep track of the number of page visits, in a private and
        secure way.<br /><br />This project was greatly influenced by <a href="https://github.com/hardfist"
            target="_blank" rel="noopener">@hardfists</a><a href="https://github.com/hardfist/neo-tools" target="_blank"
            rel="noopener"> neo-tools</a> and <a href="https://github.com/mizchi" target="_blank"
            rel="noopener">@mizchi's</a><a href="https://github.com/mizchi/uniroll" target="_blank" rel="noopener">
            uniroll</a> project.<br /><br /><span>The project isn't perfect, I am still working on an autocomplete,
            hover intellisence, better mobile support and the high memory usage of </span><span
            class="line-through"><strong>esbuild</strong><span> and </span></span><strong>monaco</strong><span> as well
            as some edge case packages, e.g. </span><strong class="line-through">fastify.</strong><br /><br />If there
        is something I missed, a mistake, or a feature you would like added please create an issue or a pull request and
        I'll try to get to it. You can contribute to this project at<a href="https://github.com/okikio/bundle"
            target="_blank" rel="noopener"> okikio/bundle.</a><br /><br /><strong>bundle</strong> uses<a
            href="https://www.conventionalcommits.org/en/v1.0.0/" target="_blank" rel="noopener"> Conventional
            Commits</a> as the style of commit, and the<a href="http://commitizen.github.io/cz-cli/" target="_blank"
            rel="noopener"> Commitizen CLI</a> to make commits easier.<br /><br />You can join the discussion on<a
            href="https://github.com/okikio/bundle/discussions" target="_blank" rel="noopener"> github discussions</a>.
    </p><br />
    <p>* All text with cross through lines, are no longer true</p>
  </div>
</Layout>