<footer class="footer my-6">
    <div class="container space-x-2">
        <p class="bg-gray-200 dark:bg-quaternary inline-block px-4 py-2 rounded-md">
            Made by <a href="https://github.com/okikio" target="_blank" rel="noopener">Okiki Ojo.</a>
        </p>
    </div>
</footer>