<nav class="navbar">
    <div class="navbar-bg">
        <div class="container">
            <div class="navbar-shadow"></div>
        </div>
    </div>
    <div class="navbar-bg">
        <div class="container">
            <div class="navbar-border"></div>
        </div>
    </div>
    <div class="container">
        <div class="navbar-frame"><a class="navbar-logo" href="./">bundle</a>
            <section>
                <a class="btn mr-2" href="./about">About</a>
                <a class="btn mr-2" href="./faq">FAQ</a>
                <a class="btn mr-2" href="https://github.com/okikio/bundle" target="_blank" rel="noopener">Github</a>
                <button class="theme-toggle" type="button">
                    <span class="icon">dark_mode</span>
                </button>
            </section>
        </div>
    </div>
</nav>
<div class="navbar-offset"></div>