---
import Icon from "astro-icon";
let { href, class: className = "", external, ...rest } = Astro.props;

external = external ?? /^(http|mailto)/.test(href);
let attrs = external ? { target: "_blank", rel: "noopener" } : {};
---

<a
  {href}
  class={(external ? "whitespace-nowrap " : "") + className}
  {...Object.assign(attrs, rest)}
  custom-anchor
>
  <slot />
  {external && <Icon name="fluent:arrow-up-right-24-filled" />}
</a>

<style lang="scss">
  svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    opacity: 0.6;
  }
</style>