---

export interface Props {
  max?: string;
  class?: string;
}

let {
  max = "md",
  class: className = "",
  ...attrs
} = Astro?.props?.content ?? Astro?.props;
---

<div class={`contain ${max} ${className}`} custom-container {...attrs}>
  <slot />
</div>

<style lang="scss">
  :where(.contain) {
    @apply container gap-3;
    @apply flex flex-col;
    @apply px-3;

    &.md {
      @apply max-w-screen-md;
    } 

    &.lg {
      @apply max-w-screen-lg;
    } 

    &.xl {
      @apply max-w-screen-xl;
    } 

    :global(:is(h1, h2, h3, h4, h5, h6)) {
      @apply pt-12 font-[600];
    }
  }
</style>