// @import "../../node_modules/monaco-editor/min/vs/editor/editor.main.css";
#app {
    @apply border border-gray-200 dark:border-transparent;
    @apply overflow-hidden rounded-lg shadow-lg;
}

.monaco-editor {
    padding-top: 15px;
}

.current-line {
    width: calc(100% - 20px);
    border-radius: 4px;
}
