@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&amp;display=swap");
/* @import url("https://cdn.jsdelivr.net/gh/microsoft/fluentui-system-icons/fonts/FluentSystemIcons-Regular.css"); */
/* @import url("https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Round&display=block"); */

@font-face {
    /* ?996016c73e71cbeaf86416d20483c9db */
    font-family: "FluentSystemIcons-Regular";
    src: url("/fonts/FluentSystemIcons-Regular.ttf") format("truetype");
}

:root {
    --light-color-background: #f8f9fa;
    --light-color-panel-divider: #dadce0;
    --light-link-color: #1155cc;
    --dark-color-panel-divider: #47474d;
    --dark-color-menu-divider-focus: #d73a49;
    --dark-color-background: #1b1c1f;
    --dark-color-secondary-background: #2d2f34;
}

.icon:before {
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
    content: "\f4e5";
}

a :is(h1, h2, h3, h4, h5, h6):after {
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f4e5";

    visibility: hidden;
    font-weight: 900;
    font-size: 1em;
    padding-left: 0.25em;
    vertical-align: middle;
    color: var(--color-link);
}

body.light a :is(h1, h2, h3, h4, h5, h6):after {
    color: var(--light-link-color);
}

a :is(h1, h2, h3, h4, h5, h6):hover:after {
    visibility: visible;
}

a :is(h1, h2, h3, h4, h5, h6):is(:hover,:focus):after {
    visibility: visible;
}

details {
    cursor: pointer;
}

pre {
    padding: 14px;
}

pre,
code {
    border-radius: 6px;
    border: 1px solid rgb(20 20 20 / 0.25);
}

pre code {
    border: none;
}

html,
body {
    font-family: "Lexend", "Manrope", "Century Gothic", sans-serif;
    font-weight: 400;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

body:not(.light) {
    color-scheme: dark;
}

body.light {
    color-scheme: light;
}

blockquote {
    padding: 0.2em 0.8em 0.2em 1em;
    border-left: 5px solid gray;
    margin-bottom: 2.5rem;
    background-color: var(--color-background);
    border-radius: 0.45em;
}

.tsd-page-title,
body:not(.light) :is(.tsd-panel) {
    box-shadow: none;
}

@media (prefers-color-scheme: dark) {
    .tsd-panel {
        box-shadow: none;
    }
}

body.light .tsd-panel {
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

@media (prefers-color-scheme: light) {
    .tsd-panel {
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }
}

.tsd-page-toolbar {
    z-index: 1025;
}

.tsd-page-title {
    border-bottom: 1px solid var(--color-panel-divider);
}

.tsd-panel:is(.tsd-typography, .tsd-index-panel, .tsd-member, .tsd-comment, .tsd-hierarchy, .tsd-type-parameters, .tsd-kind-interface) {
    border: 1px solid var(--color-panel-divider);
    border-radius: 0.65em;
}

:is(.tsd-typography, .tsd-index-panel, .tsd-member, .tsd-comment, .tsd-hierarchy, .tsd-type-parameters, .tsd-kind-interface)
    p {
    line-height: 1.85em;
}

.menu-highlight {
    /* display: grid;
    grid-auto-rows: auto 2fr; */
    padding-top: 50px;
}

.menu-highlight .tsd-navigation.primary {
    padding-bottom: 20px;
}

@media (min-width: 901px) and (max-width: 1024px) {
    html.default .col-menu {
        width: 33.3333333333%;
    }

    html.default .tsd-navigation {
        padding-left: 0;
    }
}

@media (max-width: 900px) {
    html .col-menu.menu-sticky-wrap {
        grid-template-rows: auto 1fr;
        transform: translate(0, 0);
    }
}

.tsd-navigation.primary ul {
    position: sticky;
    top: 60px;
}

.tsd-navigation.primary :is(ul, li) {
    border-top: none;
    border-bottom: none;
}

.tsd-navigation.primary li:not(.tsd-kind-module) {
    text-decoration: underline solid;
    text-underline-offset: 0.5em;
}

.tsd-navigation.secondary {
    transition: top 0.3s;
}

.tsd-navigation.secondary ul li a {
    border-radius: 0.25em;
}

.tsd-navigation.secondary li.focus > a {
    background-color: var(--color-secondary-background);
}

.tsd-panel {
    padding: 45px 45px;
    word-wrap: break-word;
}

@media (max-width: 700px) {
    .tsd-panel {
        padding: 35px 35px;
    }
}

@media (max-width: 500px) {
    .tsd-panel {
        padding: 25px 25px;
    }
}

:is(.tsd-panel, .tsd-index-panel) > :is(h1, h2, h3) {
    margin: 1.5em 0px 10px 0px;
    padding: 0 0 10px 0;
    font-weight: 600;
    
    word-wrap: break-word;
    white-space: normal;
}

.tsd-panel a {
    white-space: normal;
    word-break: break-word;
    
    text-decoration: underline solid;
    text-underline-offset: 0.2em;
    line-height: 1.85em;
    color: var(--light-link-color);
}

.tsd-panel a:hover {
    opacity: 0.8;
    text-decoration-style: wavy;
}

.tsd-panel img[src="https://bundlejs.com/badge-light.svg"] {
    overflow: hidden;
    border-radius: 20em;
    border: 1px solid rgb(20 20 20 / 0.25);
}

body:not(.light) .tsd-panel a {
    color: var(--color-link);
}

.tsd-panel a[target] .external-icon
{
    display: inline;
    stroke: currentColor;
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    opacity: 0.6;
}

.tsd-panel a[target]:is([href*="https://gitpod.io/#"],[href*="https://bundlejs.com/?"]) .external-icon
{
    display: none;
}

.tsd-widget:is(.search, .options, .menu):after {
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 24px;
    color: var(--color-toolbar-text);
    width: 100%;
    height: 100%;

    position: absolute;
    text-align: center;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.tsd-widget.no-caption {
    color: transparent;
}

.tsd-widget.no-caption:before {
    background-image: none;
    filter: none;
}

.tsd-widget.search:after {
    content: "\f690";
}

.tsd-widget.options:after {
    content: "\f407";
}

.tsd-widget.menu {
    position: relative;
    /* display: inline-block; */
    height: 40px;
    vertical-align: bottom;
    /* content: "\f561"; */
    /* display: none; */
}

.tsd-widget.menu:after {
    content: "\f561";
    /* display: none; */
}

.tsd-panel > :is(h1, h2, h3) a {
    text-decoration: none;
}