.console-container {
  @apply bg-gray-200 dark:bg-black/50;
  @apply dark:border dark:border-gray-700/90;

  @apply relative px-2.5 py-1;
  @apply rounded-lg;
  @apply flex flex-col flex-grow;

  min-height: 100px;

  @screen sm {
    min-width: 15.5rem;
    min-height: 300px;
  }

  .console-head {
    @apply flex items-center justify-between;
  }

  pre {
    @apply px-0 h-full;
    @apply overflow-auto;
  }

  .console-list {
    @apply flex flex-col flex-grow;
    @apply overflow-auto;
    @apply gap-2;
  }

  .console-log {
    @apply px-2 py-1.5;
    @apply border-b border-gray-200 dark:border-gray-700/90;
    @apply text-sm;
    @apply text-gray-700 dark:text-gray-300;
  }
}