.editor-btn-container {
  @apply absolute bottom-0 right-0; 
  @apply flex gap-2 px-3.5 pb-2;
  @apply overflow-x-hidden;
  @apply pointer-events-none;

  .editor-btn-shell {
    @apply inline-flex gap-[inherit];
  }

  .editor-btns {
    @apply flex flex-wrap gap-[inherit];
  }

  &,
  .editor-btn-shell,
  .editor-btns,
  [hide-btn] {
    transform: translateX(0);
    @apply opacity-100;
  }

  .editor-btn-shell[switch-mode=true] {
    &,
    [hide-btn] {
      transform: translateX(0);
    }
    
    .editor-btns {
      @apply opacity-100;
    }
  }

  .editor-btn-shell[switch-mode=false] {
    transform: translateX(100%);
    
    .editor-btns {
      @apply opacity-0;
    }
    
    [hide-btn] {
      transform: translateX(-100%);
    }
  }

  @at-root .dom-loaded .editor-btn-container {
    .editor-btn-shell,
    .editor-btns,
    [hide-btn] {
      @apply transition duration-500;
    }
  }

  [custom-button] {
    @apply p-3;
    @apply bg-secondary/20 dark:bg-primary/20;
    @apply hover:bg-secondary/40 hover:dark:bg-primary/40;

    @apply pointer-events-auto;
  }
}