@import "./tabs";
@import "./activity";
@import "./editor";
@import "./drag-handles";
@import "./console";

@import "./editor-btns";
@import "./console-btns";

.editor-section {
  @apply grid pb-5 gap-3;
  @apply relative w-full;
  grid-template:
    "tabs activity"
    "core core"
    "handle handle"; 

  @screen lt-sm {
    grid-template:
      "tabs"
      "core"
      "handle"
      "activity";
  }

  .core {
    @apply relative;
    @apply flex flex-col sm:flex-row;
    @apply w-full;

    grid-area: core; 
    min-width: 0;

    height: 300px;
    min-height: 300px;
  }
}