.console-container {
  @apply bg-gray-200 dark:bg-gray-800/80;
  @apply relative p-3;
  @apply rounded-lg;
  @apply flex-grow;

  min-width: 15rem;
  min-height: 100px;

  @screen sm {
    min-height: 400px;
  }
}