.editor-container {
  @apply relative w-full h-full;
  @apply bg-white shadow-[0_0_15px_-3px_rgb(0_0_0_/_0.1),0_6px_6px_-4px_rgb(0_0_0_/_0.1),0_-2px_6px_-4px_rgb(0_0_0_/_0.1)];
  @apply dark:bg-elevated dark:shadow-none;

  min-width: 200px;
  min-height: 100px;
  
  @screen sm {
    min-height: 400px;
  }
  
  &,
  [custom-loading] {
    @apply rounded-lg;
  }
}
