@import "./tabs";
@import "./activity";
@import "./editor";
@import "./drag-handles";
@import "./console";
@import "./analysis";

@import "./editor-btns";
@import "./console-btns";

.editor-section {
  @apply grid pb-5;
  grid-template:
    "tabs activity"
    "core core"
    "handle handle"
    "analysis analysis";

  @screen lt-sm {
    grid-template:
      "tabs"
      "core"
      "handle"
      "activity"
      "analysis";
  }

  .core {
    grid-area: core;
    @apply flex flex-col sm:flex-row;
    @apply w-full;

    min-height: 300px;
  }
}