@import "./tabs";
@import "./activity";
@import "./editor";
@import "./drag-handles";
@import "./console";

.editor-section {
  @apply grid pb-5;
  grid-template:
    "tabs activity"
    "core core";

  @screen lt-sm {
    grid-template:
      "tabs"
      "core"
      "activity";
  }

  .core {
    grid-area: core;
    @apply flex flex-col sm:flex-row;
    @apply w-full pt-5;

    min-height: 400px;
  }
}