.tab-bar {
  grid-area: tabs;
  @apply overflow-auto py-2;

  .tab-container {
    @apply p-2;
    @apply flex sm:inline-flex lt-xsm:justify-between gap-2;

    @apply rounded-lg;
    @apply bg-primary/10 dark:bg-secondary/10;
  }

  svg {
    @apply w-6 h-6;
  }

  [custom-button] {
    text-decoration: 2px solid underline;
    text-underline-offset: 0.2rem;

    @apply px-5 py-3 gap-3;
    @apply flex flex-row justify-center;
    @apply hover:bg-secondary/20;
    @apply dark:hover:bg-primary/20;

    &.active {
      @apply text-white;
      @apply dark:text-black;

      @apply bg-secondary hover:bg-secondary/70;
      @apply dark:bg-primary dark:hover:bg-primary/70;
    }
  }
}
