html:not(.dark) {
  @apply bg-[#fafbfc] text-black;
  color-scheme: light;
}

html.dark {
  @apply bg-[#070707] text-white;
  color-scheme: dark;
}

html,
body {
  @apply font-manrope font-400;
  @apply scroll-smooth;
  @apply scroll-p-24;
  @apply text-base;

  font-size: 1rem;
  line-height: 1.5;
}

.giscus,
.giscus-frame {
  width: 100%;
  border: none;
  color-scheme: light;
  min-height: 150px;
}

.dark {
  .giscus,
  .giscus-frame {
    color-scheme: none;
    @apply rounded-md;
  }
}

textarea,
form,
input,
button,
select,
details,
summary,
a {
  &,
  &:focus,
  &:hover,
  &:active {
    -webkit-tap-highlight-color: transparent;
  }
}

:where(:is(h1, h2, h3, h4, h5, h6)) {
  @apply pt-12 font-[600];
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}
b,
strong {
  @apply dark:font-500 dark:underline;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  [custom-slug-link] {
    @apply opacity-0 pointer-events-none;
    @apply px-2;

    @apply text-secondary dark:text-primary hover:text-blue-500;

    svg {
      @apply opacity-100;
    }
  }

  &:hover [custom-slug-link] {
    @apply opacity-100 pointer-events-auto;
  }
}


.dom-loaded {
  button,
  a,
  input, 
  details,
  summary,
  [custom-slug-link] {
    @apply transition duration-200 ease-out;
  }
}

button,
a,
details {
  @apply focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-opacity-90;
  @apply ring-offset-2 ring-offset-black;
  @apply rounded-md focus:outline-none;
}

button,
a {
  @apply text-secondary dark:text-primary;
}

button {
  @apply scale-100 hover:scale-110 active:scale-90;
}

a {
  text-decoration: 2px solid underline;
  text-underline-offset: 0.2rem;
  display: inline-block;
  cursor: pointer;

  @apply break-words lt-md:break-all;

  &:hover {
    @apply text-primary dark:text-blue-200;
  }
}

.blockquote-container {
  @apply bg-primary/20 dark:bg-blue-700/30;
  @apply divide-y divide-secondary/40 ;
  @apply rounded-2xl;
  @apply px-4 py-2;

  blockquote {
    @apply bg-transparent dark:bg-transparent;
    @apply px-2 py-4;
    @apply rounded-none;
  }
}

blockquote {
  @apply mx-0 px-4 py-3;
  @apply bg-primary/20 dark:bg-blue-700/30;
}

blockquote {
  @apply rounded-lg;
}

blockquote p {
  margin-bottom: 0;
}

code {
  @apply rounded-lg;
  @apply px-2 py-1;

  color: #24292e;
  background: #ffffffc4;
}

.dark code {
  color: #adbac7;
  background: #0d1117;
}

a code {
  color: inherit;
}

pre {
  @apply rounded-lg cursor-auto p-5;
  @apply overflow-auto;

  code {
    @apply p-0;
    @apply bg-inherit;
  }
}

details {
  & > summary {
    @apply relative cursor-pointer;
    @apply py-5;

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      content: "";
    }

    :is(h1, h2, h3, h4, h5, h6, p) {
      @apply pt-0 font-light;
    }

    [astro-icon] {
      @apply text-gray-600/80;
      @apply dark:text-gray-200/80;

      @apply absolute top-1/2;
      @apply cursor-pointer;

      transform: translate(0, -50%) rotateZ(0deg);
    }

    &:active,
    &:hover {
      [astro-icon] {
        @apply text-primary;
      }
    }
  }

  &[open] > summary {
    :is(h1, h2, h3, h4, h5, h6, p) {
      @apply font-600;
    }

    [astro-icon] {
      @apply text-primary;
      transform: translate(0, -50%) rotateZ(90deg);
    }

    &:active [astro-icon] {
      @apply text-gray-900;
      @apply dark:text-gray-100;
    }
  }

  @at-root .dom-loaded details > summary {
    :is(h1, h2, h3, h4, h5, h6, p) {
      transition: font-weight ease 0.4s;
    }

    [astro-icon] {
      transition: transform 0.25s ease-in-out, color ease 0.25s;
    }
  }

  &.inline-details {
    @apply bg-white border border-gray-300 dark:bg-elevated dark:border-gray-700;

    & > summary {
      @apply pl-[2ch] py-0;

      [astro-icon] {
        @apply left-[0.25ch];
      }
    }

    & > .content {
      @apply pl-[2ch] py-4;
    }
  }

  &:not(.inline-details) {
    & > summary {
      @apply pr-[2ch];

      [astro-icon] {
        @apply right-[0.25ch];
      }
    }

    & > .content {
      @apply pr-[2ch] py-4;
    }
  }

  & > .content {
    @apply flex flex-col gap-6;

    ul {
      @apply list-disc list-inside;
    }
  }
}

.accordian:not(:last-child) {
  @apply border-b border-b-gray-300 dark:border-b-quaternary rounded-none;
}
