// Generate CLS less font fallback https://deploy-preview-15--upbeat-shirley-608546.netlify.app/perfect-ish-font-fallback/?font=Manrope 
@import '@fontsource-variable/manrope';

@font-face {
  font-family: "Manrope-fallback";
  size-adjust: 102.95%;
  ascent-override: 105%;
  src: local("Arial");
}
