@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";
@import "./base";
@import "./components/container";
@import "./components/search";
@import "./components/loading";
@import "./components/toast";
@import "./components/details";
@import "./components/editor-section/editor-section";
@import "./hooks/text-switch";
@import "./hooks/tooltip";

#skip-main {
  // transition: border 0.35s ease;
  @apply border-2 border-primary;
  @apply text-black bg-primary;
  transform: translateX(-50%);

  @apply absolute top-10 left-0 rounded-lg text-center mt-10 text-lg py-2 w-full;
  @apply left-1/2 -translate-x-1/2 opacity-0 pointer-events-none;
  max-width: theme("spacing.96");
  z-index: 500;

  @supports (backdrop-filter: blur(10px)) {
    @apply text-primary bg-primary/30 backdrop-blur-md;
  }

  &:focus,
  &:active {
    opacity: 1;
    pointer-events: auto;
  }
}
