---
import Icon from "astro-icon";
import SnippetDetails from "../SnippetDetails";

let opts = Astro?.props?.content ?? Astro?.props;
---

<div class="accordian">
  <SnippetDetails 
    id={opts.id} 
    summary={opts.title}
    class={`umami--toggle--${opts["id"]}-docs-accordian`} 
    client:load>
    <slot />
  </SnippetDetails>
</div>