
:root {
  --black: #222;
  --highlight: #ffcf00;
  --red: #e54245;
  --green: #608b00;
  --blue: #0089b0;
  --cyan: #008c98;
  --magenta: #776eeb;
  --yellow: #ffcf00;
  --dim: #777;
  --white: #fff;
  --mono: "Noto Sans Mono", monospace;
}

.color-red {
  color: var(--red);
}
.color-green {
  color: var(--green);
}
.color-blue {
  color: var(--blue);
}
.color-cyan {
  color: var(--cyan);
}
.color-magenta {
  color: var(--magenta);
}
.color-yellow {
  color: var(--yellow);
}
.color-dim {
  color: var(--dim);
}
.color-red-bg-red {
  color: var(--red);
  background-color: var(--red);
}
.color-red-bg-white {
  color: var(--white);
  background-color: var(--red);
}
.color-green-bg-green {
  color: var(--green);
  background-color: var(--green);
}
.color-green-bg-white {
  color: var(--white);
  background-color: var(--green);
}
.color-blue-bg-blue {
  color: var(--blue);
  background-color: var(--blue);
}
.color-blue-bg-white {
  color: var(--white);
  background-color: var(--blue);
}
.color-cyan-bg-cyan {
  color: var(--cyan);
  background-color: var(--cyan);
}
.color-cyan-bg-black {
  color: var(--black);
  background-color: var(--cyan);
}
.color-magenta-bg-magenta {
  color: var(--magenta);
  background-color: var(--magenta);
}
.color-magenta-bg-black {
  color: var(--black);
  background-color: var(--magenta);
}
.color-yellow-bg-yellow {
  color: var(--yellow);
  background-color: var(--yellow);
}
.color-yellow-bg-black {
  color: var(--black);
  background-color: var(--yellow);
}

code.console summary {
  @apply cursor-auto;
}

code.console details p {
  // word-wrap: k
  @apply lt-md:whitespace-nowrap;
}

code.console .content span {
  white-space: break-spaces;
  @apply lt-md:whitespace-pre;
}

code {
    @apply rounded-lg border border-gray-300 dark:border-transparent;
    // shadow-lg 
}

code {
    color: #24292e;
    background: #fff;
    border-radius: 0.3rem;
    
    @apply px-1 py-0.5;  
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 19px;
}

.dark code {
    color: #adbac7;
    background: #0d1117;
    border: 1px solid #30363D;
}
pre {
    padding-top: 15px;

}
pre code {
    display: block;
    overflow-x: auto;
    padding: 15px;
}
code.hljs {
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
    color: #24292e;
    background: #fff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
    color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
    color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #22863a;
}
.hljs-subst {
    color: #24292e;
}
.hljs-section {
    color: #005cc5;
    font-weight: 700;
}
.hljs-bullet {
    color: #735c0f;
}
.hljs-emphasis {
    color: #24292e;
    font-style: italic;
}
.hljs-strong {
    color: #24292e;
    font-weight: 700;
}
.hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
}
.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
}


/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.dark {

.hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
  }
  
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
  }
  
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
  }
  
  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
  }
  
  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
  }
  
  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
  }
  
  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
  }
  
  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
  }
  
  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
  }
  
  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
  }
  
  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
  }
  
  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
  }
  
  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
  }
  
  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
  }
  
  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }
}
