.flex-wrapper {
    --cols: 1fr;
    @apply w-full relative pb-6;
    @apply grid gap-3;
    //  mb-8
    // grid-template-columns: auto;
    height: (400px - 56px);
    resize: vertical;
    overflow: hidden;

    @screen lt-sm {
        grid-template-rows: auto auto;
        grid-template-rows: var(--cols) var(--cols);
        // grid-flow: rows;

        // @apply grid-flow-row;
    }

    @screen sm {
        min-height: 350px - 56px;
        grid-template-columns: auto auto;
        grid-template-columns: var(--cols) var(--cols);

        @apply grid-rows-1;
    }

    // @screen md {
    //     min-height: 400px - 56px;
    // }

    &.loaded {
        --cols: auto;
    }
}

.emulate-monaco {
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 19px;
    letter-spacing: 0px;
    word-break: break-word;
    padding-left: 64px;
    padding-right: 14px;
}

.app {
    @apply bg-white border border-gray-300;
    @apply dark:bg-elevated dark:border-gray-700;
    @apply rounded-lg shadow-lg;
    @apply relative block;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;

    // width: 100%;
    // min-width: theme("spacing.3");
    // max-width: calc(100% - theme("spacing.3"));

    overflow: hidden;

    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 19px;
    letter-spacing: 0px;
}

.flex-wrapper.loaded .app {
    resize: horizontal;

    @screen lt-sm {
        resize: vertical;
    }
}

.app#input {
    --spacing: theme("spacing.10");
    @supports (padding-left: env(safe-area-inset-right)) {
        --spacing: calc(theme("spacing.10") + env(safe-area-inset-right) + env(safe-area-inset-left));
    }

    min-width: 25px;
    max-width: calc(theme("screens.lg") - theme("spacing.3") - 25px - var(--spacing));
}

.app#output {
    resize: none;
    height: 100%;
}

.info-pane {
    @apply flex w-full lt-sm:flex-col align-middle gap-2 lt-sm:gap-3;
    flex-wrap: nowrap;

    #bundle-time {
        @apply w-full;
        min-height: theme("spacing.6");
    }

    .btn, button {
        @apply border border-gray-300;
        @apply dark:border-gray-600;
    }

    .action-btns-overflow {
        @apply py-1;
        overflow-x: auto;
        width: 100%;
    }

    .action-btns {
        @apply flex w-full align-middle gap-2;
        position: relative;
    }

    .btn {
        margin: 0;
    }
}

.file-size {
    @apply inline-block px-4 py-2 rounded-md;
    @apply text-center flex justify-center items-center;
    @apply text-gray-500 dark:text-secondary;
    // @apply bg-gray-200 dark:bg-quaternary;
    @apply bg-white border border-gray-300;
    @apply dark:bg-elevated dark:border-gray-700;
    // min-width: theme("spacing.24");
    min-width: 18ch;
    white-space: nowrap;

    min-height: theme("spacing.12");
}

#editor {
    transition: opacity ease 0.6s;
    height: 100%;
    opacity: 0;
    // height: calc(100% - 30px);
    // min-height: 400px - 30px - 56px;

    @screen lt-md {
        // min-height: 300px - 30px - 56px;
    }

    &.show {
        opacity: 1;
    }
}

.monaco-editor .peekview-widget .monaco-list .monaco-list-row .codicon {
    padding-right: 14px;
}

.loading {
    @apply block mx-auto w-8 h-8 rounded-full;
    border-width: theme("spacing.1");
    border-color: theme("colors.gray.300");
    border-top-color: theme("colors.blue.500");
    animation: spin 1s linear infinite;
}

.dark .app {
    background-color: #0d1117;
    border: 1px solid #30363D;
}

.dark .center-container {
    background-color: #121212;

    @supports (backdrop-filter: blur(8px)) {
        @apply bg-center-container-dark bg-opacity-20;
    }
}

.dark .loading {
    border-color: theme("colors.tertiary");
    border-top-color: theme("colors.blue.400");
}

.center-container {
    @apply absolute top-0 left-0 w-full h-full;
    @apply grid justify-center content-center;
    @apply z-10;
    background-color: #f8f8f8;

    @supports (backdrop-filter: blur(8px)) {
        @apply bg-white;
        @apply backdrop-filter backdrop-blur bg-opacity-20;
    }

    p {
        @apply mt-2;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#bundle-time {
    @apply flex items-center;
}

#editor {
    /* height: 100%; */
    width: 100%;
}

.current-line {
    width: calc(100% - 20px);
    border-radius: 4px;
}

.offline-icon {
    @apply px-3 py-2 rounded-md;
    @apply flex items-center justify-center bg-blue-600 text-black;
    &.online {
        display: none;
    }
    svg {
        vertical-align: middle;
        fill: currentColor;
        width: 1em;
    }
}

.editor-btns {
    transition: opacity ease 0.8s;
    @apply absolute bottom-2 right-0 px-5 w-full flex-wrap;
    opacity: 0;
    pointer-events: none;
    @apply flex gap-2;
}

.editor-btns.delay {
    opacity: 1;
}

.app:hover .editor-btns,
.app:focus-within .editor-btns {
    transition: opacity ease-out 0.5s;
    opacity: 1;
    pointer-events: none;
}

.editor-btns {
    button {
        @apply flex items-center justify-center;
        @apply bg-gray-100 border dark:border-gray-500 dark:bg-gray-600 text-blue-400 dark:text-white;
        @apply hover:bg-gray-200 dark:hover:bg-gray-800 dark:hover:border-gray-600;
        @apply px-3 py-2 rounded-md z-10;
        @apply flex items-center justify-center;
        pointer-events: auto;

        @supports (backdrop-filter: blur(5px)) {
            @apply bg-opacity-50 dark:bg-opacity-50 backdrop-filter backdrop-blur-sm;
        }

        svg {
            @apply text-lg;
            vertical-align: middle;
            fill: currentColor;
            width: 1em;
        }
    }

    .copy-container {
        @apply relative z-[5];
        // z-index: 5;
    }

    .editor-info {
        @apply absolute top-0 right-0 z-0;
        transform: translateY(100px);

        &,
        &:hover {
            @apply bg-white dark:bg-gray-800  text-blue-500 dark:text-blue-500;

            @supports (backdrop-filter: blur(5px)) {
                @apply bg-opacity-50 dark:bg-opacity-60 backdrop-filter backdrop-blur-sm;
            }
        }
    }
}
