#app {
    @apply border border-gray-200 dark:border-transparent;
    @apply rounded-lg shadow-lg;
    @apply bg-white;
    @apply  overflow-hidden relative block;
    height: 400px;

    @screen lt-sm {
        height: 300px;
    }
}

.loading {
    @apply inline-block mx-auto mb-2 w-8 h-8 rounded-full;
    border-width: theme("spacing.1");
    border-color: theme("colors.gray.300");
    border-top-color: theme("colors.blue.500");
    animation: spin 1s linear infinite;
}

.dark #app,
.dark .center-container {
    background-color: #24292e;
}

.dark .loading {
    border-color: theme("colors.tertiary");
    border-top-color: theme("colors.blue.400");
}

.center-container {
    @apply absolute top-0 left-0 w-full h-full;
    @apply grid justify-center content-center;
    @apply bg-white z-10;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#editor {
    margin-top: 15px;
    height: 100%;
    width: 100%;
}

.current-line {
    width: calc(100% - 20px);
    border-radius: 4px;
}
