.search-container {
  @apply relative;
}

.search {
    @apply focus-within:ring-4 focus-within:ring-blue-500 focus-within:ring-opacity-50;
    @apply border border-gray-300;

    @apply flex items-center rounded-lg;
    @apply px-1 py-1;

    @apply dark:bg-black;
    @apply dark:border-gray-700;

    input#input {
        @apply w-full ml-2 p-2 bg-transparent align-middle focus:outline-none;

        &::placeholder {
            @apply text-gray-400;
        }
    }

    [astro-icon] {
        @apply w-6 h-6;
    }

    [custom-button] {
        @apply px-3 py-1.5 gap-3;
        @apply flex flex-row justify-center;
        @apply bg-secondary/20 hover:bg-secondary/40;

        @apply dark:bg-primary/20 dark:hover:bg-primary/40;
    }

    // .clear {
    //   @apply transform scale-[0.85] active:scale-75 active:bg-gray-600;
    //   @apply hover:bg-gray-200 dark:hover:bg-tertiary;
    //   @apply text-black dark:text-white m-0;
    // }
}

.search-results {
  height: fit-content;
  max-height: 410px;

  //  
  // @apply opacity-0 pointer-events-none;
  // @apply absolute top-2;

  @apply border border-gray-200 dark:border-quaternary;
  @apply flex flex-col;
  @apply overflow-auto w-full;
  @apply z-20 bg-white dark:bg-black;
  @apply rounded-lg shadow-lg;
  @apply divide-y divide-gray-200 dark:divide-quaternary;

  :is(h1, h2, h3, h4, h5, h6, p) {
    @apply pt-0;
  }

  &.empty {
    @apply border-transparent dark:border-transparent;
  }
}

.card {
  // @apply border border-gray-200 dark:border-quaternary  rounded-lg;
  @apply grid gap-6 sm:grid-cols-12;
  @apply p-5;

  section {
    @apply col-span-12;

    &.content {
      @apply sm:col-span-9;

      &.error {
        @apply sm:col-span-12;
      }
    }

    p,
    h3 {
      line-height: 1.5;
    }

    h3 {
      font-size: 1rem;
      @apply mb-1;
    }

    p {
      font-size: 0.9rem;
    }

    .updated-time {
      @apply text-gray-500 mt-1;
      font-size: 0.8rem;
    }

    &.add {
      // @apply transform scale-100 active:scale-90;
      @apply flex sm:text-center sm:col-span-3;
      justify-content: end;
      align-items: center;

      .btn {
        @apply w-full relative block m-0;
        @apply bg-gray-200 dark:bg-quaternary;
        @apply hover:bg-blue-200 dark:hover:bg-gray-600;
        @apply active:bg-blue-100 dark:active:bg-gray-800;

        .btn-text {
          @apply whitespace-nowrap opacity-100;
        }
      }
    }
  }
}