openapi: 3.1.0
info:
  title: BundleJS API
  description: An API for bundling, treeshaking, transpiling, compressing and minification of JavaScript and TypeScript code.
  version: 1.0.0
servers:
  - url: https://deno.bundlejs.com
paths:
  /:
    get:
      operationId: bundle
      summary: Bundle, treeshake and minify JavaScript and TypeScript code.
      parameters:
        - name: q
          in: query
          description: Represents the modules to bundle.
          required: true
          schema:
            type: string
        - name: badge
          in: query
          description: Generate a badge.
          required: false
          schema:
            type: string
            enum: ["", "detailed", "minified"]
        - name: badge-style
          in: query
          description: Badge styles supported by shields.io.
          required: false
          schema:
            type: string
        - name: badge-raster
          in: query
          description: The badge as a png image.
          required: false
          schema:
            type: boolean
        - name: file
          in: query
          description: Resulting bundled code.
          required: false
          schema:
            type: boolean
        - name: analysis
          in: query
          description: Esbuild generate visual analysis.
          required: false
          schema:
            type: string
            enum: ["", "verbose"]
        - name: metafile
          in: query
          description: Esbuild bundle metafile.
          required: false
          schema:
            type: boolean
        - name: config
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Config"
        - name: treeshake
          in: query
          description: Represents the export/imports to treeshake.
          required: false
          schema:
            $ref: "#/components/schemas/TreeshakeList"
        - name: polyfill
          in: query
          description: Polyfill Node built-ins.
          required: false
          schema:
            type: boolean
        - name: sourcemap
          in: query
          description: Esbuild sourcemap.
          required: false
          schema:
            type: string
            enum: ["", "inline", "external", "true", "false"]
        - name: minify
          in: query
          description: Esbuild minify.
          required: false
          schema:
            type: boolean
        - name: format
          in: query
          description: Esbuild format.
          required: false
          schema:
            type: string
            enum: [iife, cjs, esm]
        - name: warnings
          in: query
          description: Lists warnings for a particular bundle.
          required: false
          schema:
            type: boolean
        - name: raw
          in: query
          description: The raw result of the bundle.
          required: false
          schema:
            type: boolean
        - name: text
          in: query
          description: Represents the input code as a string.
          required: false
          schema:
            type: string
        - name: share
          in: query
          description: Represents the compressed string version of the input code (compressed using @amoutonbrady/lz-string).
          required: false
          schema:
            type: string
      
        - name: tsx
          in: query
          description: Support JSX and TSX.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Bundled code, analysis, badge or JSON response.
          content:
            application/json:
              operationId: getJSONResponse
              schema:
                type: object
                properties:
                  query:
                    type: string
                  rawQuery:
                    type: string
                  version:
                    type: string
                    nullable: true
                  versions:
                    type: array
                    items:
                      type: string
                    nullable: true
                  config:
                    type: object
                    additionalProperties: true
                  input:
                    type: string
                  size:
                    type: object
                    properties:
                      type:
                        type: string
                      rawUncompressedSize:
                        type: integer
                      uncompressedSize:
                        type: string
                      rawCompressedSize:
                        type: integer
                      compressedSize:
                        type: string
                      size:
                        type: string
                  time:
                    type: string
                  rawTime:
                    type: integer
                  fileId:
                    type: string
                  fileUrl:
                    type: string
                  fileHTMLUrl:
                    type: string
            application/javascript:
              operationId: getFile
              summary: Return the bundled JavaScript file.
              schema:
                type: string
            image/svg+xml:
              schema:
                type: string
                example: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="146" height="20" role="img" aria-label="5.51 kB (gzip): bundlejs"><title>5.51 kB (gzip): bundlejs</title><a target="_blank" xlink:href="https://bundlejs.com/?q=spring-easing,react&amp;badge"><linearGradient id="s" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><clipPath id="r"><rect width="146" height="20" rx="3" fill="#fff"/></clipPath><g clip-path="url(#r)"><rect width="89" height="20" fill="#555"/><rect x="89" width="57" height="20" fill="#007ec6"/><rect width="146" height="20" fill="url(#s)"/></g><g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110"><text aria-hidden="true" x="455" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="790">5.51 kB (gzip)</text><text x="455" y="140" transform="scale(.1)" fill="#fff" textLength="790">5.51 kB (gzip)</text><text aria-hidden="true" x="1165" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="470">bundlejs</text><text x="1165" y="140" transform="scale(.1)" fill="#fff" textLength="470">bundlejs</text></g></a></svg>'
            image/png:
              operationId: getBadgeRaster
              summary: Generate a PNG badge for the bundle size.
              schema:
                type: string
                format: binary
            text/plain:
              operationId: getAnalysis
              summary: Generate a visual analysis of the bundle.
              schema:
                type: string
                example: "index.js 12.9kb 100.0%\n ├ http-url:https://unpkg.com/react@18.2.0/cjs/react.production.min.js 6.3kb 49.0%\n ├ http-url:https://unpkg.com/spring-easing@2.1.2/lib/index.mjs 4.3kb 33.1%\n ├ http-url:https://unpkg.com/react@18.2.0/index.js 50b 0.4%\n └ virtual-filesystem:/index.ts 16b 0.1%"
        '400':
          description: Bad request
        '404':
          description: Package not found
          content:
            text/plain:
              schema:
                type: string
                example: "✘ [ERROR] [getRequest] Failed at request (https://unpkg.com/reac@0.0.0)\nError: Couldn't load https://unpkg.com/reac@0.0.0/index.js (404 code) [plugin cdn-url]\n\n    virtual-filesystem:/index.ts:2:14:\n\n      2 │ export * from \"reac\";\n        ╵               ~~~~~~"
        '500':
          description: Internal server error

components:
  schemas:
    Platform:
      type: string
      enum:
        - node
        - deno
        - browser
        - edge
        - cloudflare
        - wasm
        - deno-wasm
    InitOptions:
      type: object
      properties:
        platform:
          $ref: '#/components/schemas/EsbuildPlatform'
    CommonConfigOptions:
      type: object
      properties:
        init:
          $ref: '#/components/schemas/InitOptions'
    PackageJson:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        description:
          type: string
        keywords:
          type: array
          items:
            type: string
        homepage:
          type: string
        bugs:
          type: object
          properties:
            url:
              type: string
            email:
              type: string
        license:
          type: string
        author:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            url:
              type: string
        dependencies:
          type: object
          additionalProperties:
            type: string
        devDependencies:
          type: object
          additionalProperties:
            type: string
        optionalDependencies:
          type: object
          additionalProperties:
            type: string
        peerDependencies:
          type: object
          additionalProperties:
            type: string
    BuildOptions:
      type: object
      properties:
        absWorkingDir:
          type: string
        entryPoints:
          type: array
          items:
            type: string
        stdin:
          type: object
          properties:
            contents:
              type: string
            resolveDir:
              type: string
            sourcefile:
              type: string
            loader:
              $ref: '#/components/schemas/Loader'
          additionalProperties: false
        bundle:
          type: boolean
        outfile:
          type: string
        outdir:
          type: string
        outbase:
          type: string
        platform:
          $ref: '#/components/schemas/EsbuildPlatform'
        format:
          $ref: '#/components/schemas/Format'
        external:
          type: array
          items:
            type: string
        loader:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Loader'
        resolveExtensions:
          type: array
          items:
            type: string
        tsconfig:
          type: string
        target:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        jsxFactory:
          type: string
        jsxFragment:
          type: string
        define:
          type: object
          additionalProperties:
            type: string
        pure:
          type: array
          items:
            type: string
        avoidTDZ:
          type: boolean
        globalName:
          type: string
        keepNames:
          type: boolean
        banner:
          type: object
          additionalProperties:
            type: string
        footer:
          type: object
          additionalProperties:
            type: string
        charset:
          $ref: '#/components/schemas/Charset'
        sourcemap:
          type: string
          enum: [true, false, 'linked', 'inline', 'external', 'both']
          nullable: true
        legalComments:
          type: string
          enum: ['none', 'inline', 'eof', 'linked', 'external']
          nullable: true
        sourceRoot:
          type: string
          nullable: true
        sourcesContent:
          type: boolean
          nullable: true
        supported:
          type: object
          additionalProperties:
            type: boolean
          nullable: true
        mangleProps:
          type: string
          format: regex
          nullable: true
        reserveProps:
          type: string
          format: regex
          nullable: true
        mangleQuoted:
          type: boolean
          nullable: true
        mangleCache:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: boolean
          nullable: true
        drop:
          type: array
          items:
            $ref: '#/components/schemas/Drop'
          nullable: true
        minify:
          type: boolean
          nullable: true
        minifyWhitespace:
          type: boolean
          nullable: true
        minifyIdentifiers:
          type: boolean
          nullable: true
        minifySyntax:
          type: boolean
          nullable: true
        treeShaking:
          type: boolean
          nullable: true
        ignoreAnnotations:
          type: boolean
          nullable: true
        jsx:
          type: string
          enum: ['transform', 'preserve', 'automatic']
          nullable: true
        jsxImportSource:
          type: string
          nullable: true
        jsxDev:
          type: boolean
          nullable: true
        jsxSideEffects:
          type: boolean
          nullable: true
        color:
          type: boolean
          nullable: true
        logLevel:
          $ref: '#/components/schemas/LogLevel'
        logLimit:
          type: integer
          nullable: true
        logOverride:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/LogLevel'
          nullable: true
        splitting:
          type: boolean
        inject:
          type: array
          items:
            type: string
        # Add the rest of the properties from BuildOptions
      additionalProperties: true        
    Format:
      type: string
      enum: ['iife', 'cjs', 'esm']
    EsbuildPlatform:
      type: string
      enum: ['browser', 'node', 'neutral']
    LogLevel:
      type: string
      enum: ['verbose', 'debug', 'info', 'warning', 'error', 'silent']
    Charset:
      type: string
      enum: ['ascii', 'utf8']
    Drop:
      type: object
      properties:
        name:
          type: string
        dropArgs:
          type: boolean
          nullable: true
        dropPure:
          type: boolean
          nullable: true
        dropConsole:
          type: boolean
          nullable: true
      required:
        - name
    BuildConfig:
      allOf:
        - $ref: '#/components/schemas/CommonConfigOptions'
        - type: object
          properties:
            esbuild:
              $ref: '#/components/schemas/BuildOptions'
            package.json:
              $ref: '#/components/schemas/PackageJson'
            polyfill:
              type: boolean
            cdn:
              type: string
            alias:
              type: object
              additionalProperties:
                type: string
    CompressionType:
      type: string
      enum:
        - gzip
        - brotli
        - zstd
        - lz4
    CompressionOptions:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/CompressionType'
        quality:
          type: integer
          minimum: 1
          maximum: 12
    CompressConfig:
      oneOf:
        - $ref: '#/components/schemas/CompressionOptions'
        - $ref: '#/components/schemas/CompressionType'
    Config:
      allOf:
        - $ref: '#/components/schemas/BuildConfig'
        - type: object
          properties:
            compression:
              $ref: '#/components/schemas/CompressConfig'
            analysis:
              oneOf:
                - type: boolean
                - type: string
            tsx:
              type: boolean
          additionalProperties: false
    TreeshakeList:
      type: array
      items:
        type: string
    Loader:
      type: string
      enum:
        - js
        - jsx
        - ts
        - tsx
        - json
        - text
        - base64
        - file
        - dataurl
        - binary
        - css
        - wasm
    LegalComments:
      type: string
      enum:
        - none
        - linked
        - inline
        - eof
    StrictOptions:
      type: object
      properties:
        nullishCoalescing:
          type: boolean
        optionalChaining:
          type: boolean
        classFields:
          type: boolean
        topLevelAwait:
          type: boolean
        importsNotUsedAsValues:
          type: boolean
        codeSplitting:
          type: boolean
      additionalProperties: false
    Plugin:
      type: object
      properties:
        name:
          type: string
        setup:
          type: object
          additionalProperties: true
      additionalProperties: false
    WatchMode:
      type: object
      properties:
        onRebuild:
          type: object
          additionalProperties: true
        clearScreen:
          type: boolean
      additionalProperties: false