mixin footer
  footer.footer.my-6
    .container
      p.bg-gray-200(class="dark:bg-quaternary").inline-block.px-4.py-2.rounded-md
        span="  Made by "
        a(href='https://github.com/okikio' target='_blank') Okiki Ojo
        | .
