mixin navbar
  nav.navbar
    .navbar-bg
      .container
        .navbar-shadow
    .navbar-bg
      .container
        .navbar-border
    .container
      .navbar-frame
        a.navbar-logo(href='./') bundle
        button.theme-toggle(type='button')
          span.icon dark_mode
