mixin nav-list
  .navbar-list
    a(href='./about' data-path='/about(.html)?') About
    a(href='./faq.html' data-path='/faq(.html)?') FAQ
    block

mixin navbar
  nav.navbar
    .navbar-bg
      .container
        .navbar-shadow
    .navbar-bg
      .container
        .navbar-border
    .container
      .navbar-frame
        a.navbar-logo(href='./') bundle
        .mobile
          a.btn.btn-highlight(href="https://github.com/okikio/bundle" target="_blank" rel="noopener") GitHub
          //- button.intall-btn(type='button')
            span.icon get_app
          //- button.theme-toggle(type='button')
            span.icon dark_mode
          button.navbar-toggle(type='button')
            span.icon menu
        .navbar-collapse.collapse.mobile
          +nav-list
        .desktop
          .navbar-collapse
            +nav-list
              a.btn.btn-highlight(href="https://github.com/okikio/bundle" target="_blank" rel="noopener") GitHub
              //- button.intall-btn(type='button')
                span.icon get_app
              //- button.theme-toggle(type='button')
                span.icon dark_mode
