mixin navbar
  nav.navbar
    .navbar-bg
      .container
        .navbar-shadow
    .navbar-bg
      .container
        .navbar-border
    .container
      .navbar-frame
        a.navbar-logo(href='./') bundle
        section
          button.to-top(type='button') Back to Top
          button.theme-toggle(type='button')
            span.icon dark_mode
