mixin product-hunt
  #product-hunt&attributes(attributes)
    a(href='https://www.producthunt.com/posts/bundle-6?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-bundle-6', target='_blank' rel="noopener")
      figure(width='250', height='54')
        img.dark(src='https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=300568&theme=dark' alt="" loading="eager")
        img(src='https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=300568&theme=light' alt="" loading="eager")
        figcaption A link to bundle.js.org's Product Hunt page; a small public display of what bundle.js.org is all about