extends /layouts/layout.pug

block title
  title 404 Page

block content
  .container.px-5.py-2(class="sm:max-w-screen-lg")
    .my-5.px-12.py-24
      h1.text-5xl.mb-2
        strong 404 Page
      p.font-light.text-lg You might be lost, wanna 
        a(href="./") go back home?
