extends /layouts/layout.pug

block pageInfo
  - 
    let page = {
      url: "/about",
      title: "about - bundle",
      description: "Details about how bundle was made as well, as well links, sources, and all the tools I used to make bundle."
    };

block content
  #about.container.max-w-screen-lg
    h2.text-center.mb-8 About
    +product-hunt(loading="eager")
      
    p 
      strong bundle
      |  is a quick and easy way to bundle your projects, minify and see their gzip and brotli size. It's an online tool similar to
      a(href="https://bundlephobia.com" target="_blank" rel="noopener")  bundlephobia
      | , but 
      strong bundle
      |  does all the bundling locally on you browser and can treeshake and bundle multiple packages (both commonjs and esm) together, all without having to install any npm packages and with typescript support.
      br
      br

    p
      | I used
      a(href="https://github.com/microsoft/monaco-editor" target="_blank" rel="noopener")  monaco-editor
      |  for the code-editor,
      a(href="https://github.com/evanw/esbuild" target="_blank" rel="noopener")  esbuild 
      |  as bundler and treeshaker respectively,
      a(href="https://github.com/hazae41/denoflate/tree/master" target="_blank" rel="noopener")  denoflate
      |  as a wasm port of gzip, 
      a(href="https://github.com/denosaurs/deno_brotli/tree/master" target="_blank" rel="noopener")  deno_brotli
      |  as a wasm port of brotli, 
      a(href="https://github.com/denosaurs/deno_lz4" target="_blank" rel="noopener")  deno_lz4
      |  as a wasm port of lz4, 
      a(href="https://github.com/sindresorhus/pretty-bytes" target="_blank" rel="noopener")  pretty-bytes
      |  to convert the compressed size to human readable values, and 
      a(href="https://github.com/mlomb/countapi-js" target="_blank" rel="noopener")  countapi-js
      |  to keep track of the number of page visits, in a private and secure way.
      br
      br
      | This project was greatly influenced by 
      a(href="https://github.com/hardfist" target="_blank" rel="noopener") @hardfists
      a(href="https://github.com/hardfist/neo-tools" target="_blank" rel="noopener")  neo-tools
      |  and 
      a(href="https://github.com/mizchi" target="_blank" rel="noopener") @mizchi's
      a(href="https://github.com/mizchi/uniroll" target="_blank" rel="noopener")  uniroll
      |  project.
      br
      :markdown-it(linkify langPrefix='language-')
        > Some of bundle.js.org's latest features were inspired by [egoist/play-esbuild](https://github.com/egoist/play-esbuild) and [hyrious/esbuild-repl](https://github.com/hyrious/esbuild-repl), check them out they each use esbuild in different ways.
      br
      br
      span= "The project isn't perfect, I am still working on an autocomplete, better mobile support and the high memory usage of "
      strong esbuild
      span= " and "
      strong monaco
      span= " as well as some edge case packages, e.g. "
      strong monaco-editor.
      br
      br
      | If there is something I missed, a mistake, or a feature you would like added please create an issue or a pull request and I'll try to get to it. You can contribute to this project at
      a(href="https://github.com/okikio/bundle" target="_blank" rel="noopener")  okikio/bundle.
      br
      br
      strong bundle
      |  uses
      a(href="https://www.conventionalcommits.org/en/v1.0.0/" target="_blank" rel="noopener")  Conventional Commits
      |  as the style of commit, and the
      a(href="http://commitizen.github.io/cz-cli/" target="_blank" rel="noopener")  Commitizen CLI
      |  to make commits easier.
      br
      br
      | You can join the discussion on
      a(href="https://github.com/okikio/bundle/discussions" target="_blank" rel="noopener")  github discussions
      | .
