extends /layouts/layout.pug

block pageInfo
  - 
    let page = {
      url: "/faq",
      title: "FAQ - bundlejs",
      description: "Frequently Asked Questions. I frequently get asked what was the point in building bundlejs, this is a short, quick, and simple summary of frequently asked questions and my reasons for building bundlejs."
    };

block content
  #faq.container.max-w-screen-lg
    h2.text-center.mb-8(aria-label="Frequently Asked Questions" title="Frequently Asked Questions") FAQ
    p I frequently get asked what was the point in building bundlejs, this is a short, quick, and simple summary of frequently asked questions and my reasons for building bundlejs.   
    br
    br
    h4.mb-2
      | What is the advantage over 
      a(href="https://bundlephobia.com" target="_blank" rel="noopener")  bundlephobia
      | ?
    p 
      :markdown-it(linkify langPrefix='language-')
        There are a couple reasons for this, but the main one is that `bundlephobia` wasn't reliable enough. 
    br
    h4.mb-2 What do you mean wasn't reliable enough? 
    p Right now #[code bundlephobia], is a bit hit or miss when it comes to treeshaking. So, I built #[strong bundlejs.com], which can treeshake bundles accurately. 
      br
      br
      :markdown-it(linkify langPrefix='language-')
        For example, try treeshaking the `Event` class from `@okikio/emitter` using [bundlephobia](https://bundlephobia.com/package/@okikio/emitter) and try treeshaking the `Event` class using [bundlejs.com](/?bundle&q=@okikio/emitter&treeshake=Event).
        ```ts
        export { Event } from "@okikio/emitter";
        ``` 
      br
      :markdown-it(linkify langPrefix='language-')
        You will notice a major package size disparity. This is only one example and I am sure others exist, I hope the above example illustrates my point. 
      br
      :markdown-it(linkify langPrefix='language-')
        Another problem with `bundlephobia` is the lack of good error reporting if (for whatever reason) `bundlephobia` isn't able to bundle your package, it logs this to the console,
        ```ts 
        {
            "code": "BuildError",
            "message": "Failed to build this package.",
            "details": {
                "name": "BuildError"
            }
        }
        ```

        this just isn't very useful for debugging. 
      br
      :markdown-it(linkify langPrefix='language-')
        On the other hand, since, `bundlejs.com` runs locally right on your computer, when an error occurs it logs the exact error you would see when using [esbuild](https://esbuild.github.io/) or other bundlers in your build process, making it much easier to know exactly what is wrong with your js bundle.
    br
    h4.mb-2 Wait, locally as in no external servers? 
    p
    
      :markdown-it(linkify langPrefix='language-')
        Yes, locally right on your browser, I used [esbuild-wasm](https://esbuild.github.io/getting-started/#wasm) for the main bundler and [rollup](https://rollupjs.org/guide/en/) for more accurate treeshaking.
    br
    h4.mb-2 Can it bundle multiple packages and treeshake them? 
    p
      :markdown-it(linkify langPrefix='language-')
        Yes. `bundlejs.com` can treeshake all packages, and it can do so accurately.
