extends /layouts/layout.pug

block preload
  link(rel="stylesheet", href="./js/monaco.min.css")

block content
  input(type="text" id="copy-input" tabindex="-1" aria-hidden="true")

  .container
    header
      h1 bundle
      p 
        | a quick npm package size checker 
        strong#visit-counter 


    .search-container
      .search
        i.icon search
        input#search-input(type="text" autocomplete="off" placeholder="Type a package name...")
        button.btn.clear
          i.icon clear

      .search-results-container
    .push-to-side-overflow
      .push-to-side
        #bundle-time
        .flex.flex-1
        button.btn#run(type='button') Run
        button.btn.btn-share#share(type='button') Share
        .file-size Wait...
  .flex-wrapper
    .app
      .center-container
        .loading
      #editor
    
    .app#output
      .center-container
        .loading
      #editor
  .container  
        
    //- p * Check the console for error messages and bundled code.
    //- p * Every 10 results the console will be cleared.
    //- br
    p * Note: Treeshaking is available, but since esbuild and rollup doesn't have access to each packages package.json, it assumes that there are sideEffects.
    br
    h2#usage Usage

    p You can use custom protocols to specify which CDN the module should come from.
    br
    p
      | * esm.run:react   ->   #[a(href="https://esm.run/react" target="_blank" rel="noopener") https://esm.run/react] 
      br
      | * esm.sh:react    ->   #[a(href="https://cdn.esm.sh/react" target="_blank" rel="noopener") https://cdn.esm.sh/react] 
      br
      | * esm:react       ->   #[a(href="https://cdn.esm.sh/react" target="_blank" rel="noopener") https://cdn.esm.sh/react] 
      br
      | * skypack:react   ->   #[a(href="https://cdn.skypack.dev/react" target="_blank" rel="noopener") https://cdn.skypack.dev/react] 
      br
      | * unpkg:react     ->   #[a(href="https://unpkg.com/react" target="_blank" rel="noopener") https://unpkg.com/react] 
      br
      | * jsdelivr:react  ->   #[a(href="https://cdn.jsdelivr.net/npm/react" target="_blank" rel="noopener") https://cdn.jsdelivr.net/npm/react] 
    br
    p e.g.
    :markdown-it(linkify langPrefix='language-')
      ```typescript
      import { toStr } from "skypack:@okikio/animate";
      // or
      export * from "esm:@okikio/animate"; 
      // or 
      export { animate } from "https://cdn.skypack.dev/@okikio/animate";
      ```
    br
    p.relative
      span="* If an error occurs try using a different CDN, by default "
      strong bundle
      |  uses
      a(href="https://cdn.skypack.dev" target="_blank" rel="noopener")  cdn.skypack.dev
      |  but you can use the others.
    br
    br
    h4#url-queries URL Queries & Shareable Links
    br
    p
      | You can now use search queries in #[strong bundle], all you need to do is add this to the url #[br]
      | #[code="?q={packages}&treeshake={methods to treeshake}"] #[br] #[br] 
      | e.g. #[br]
      | You want #[code react], #[code react-dom], #[code vue], and #[code @okikio/animate], but only want the #[code Animate] and #[code toStr] methods exported from #[code @okikio/animate].
      | #[br] #[br] You would add this to the url 
      a(href="/?q=react,react-dom,vue,@okikio/animate&treeshake=[*],[*],[*],[Animate,toStr]" rel="noopener")
        | ?q=react,react-dom,vue,@okikio/animate&treeshake=[*],[*],[*],[Animate,toStr]
      br 
      br
      | If you only want a couple packages and don't care to treeshake, then all you need is something like this,
      a(href="/?q=react,react-dom,vue,@okikio/animate" rel="noopener")
        | ?q=react,react-dom,vue,@okikio/animate
      | There is another way to share a reproduciable bundle, the sharable link. Shareble links look like this #[a(href="/?share=PTAEGEBsEsGMGtQCUCuA7UAzA9gJ1AC4AWApqAELoAmkJVoA1KALLRrSbR2OgDiAXtAAOQ7kICGCcQHMyAZ2j8SAKBIAPIXgKgAVFlzYAtqABEAAWzxoV7MHHtD4giRMBuIA" rel="noopener") /?share=PTAEGEBsEsGMGtQCUCuA7UAzA9gJ1AC4AWApqAELoAmkJVoA1KALLRrSbR2OgDiAXtAAOQ7kICGCcQHMyAZ2j8SAKBIAPIXgKgAVFlzYAtqABEAAWzxoV7MHHtD4giRMBuIA] with the string value of the input code editor being compressed into a string and placed into the URL. 
      br
      br
      | In order to create a shareble link, you click the `Share` button, it copies the share url to your clipboard, and from there you can paste where you wish. 
    br
    br
    +product-hunt.place-content-center
        

block script  
  script(src="./js/load-webanimation-polyfill.min.js" type='module' async)
  script(src='./js/index.min.js' type='module' async)

  //- link(rel='modulepreload' href='./js/esbuild.worker.js')
  //- link(rel="prefetch" href="./js/esbuild.worker.js")
  