extends /layouts/layout.pug

block preload
  link(rel="stylesheet", href="./js/monaco.min.css")

block content
  input(type="text" id="copy-input" tabindex="-1" aria-hidden="true")

  .container
    header
      h1 bundle
      p 
        | a quick npm package size checker 
        strong#visit-counter 


    .search-container
      .search
        i.icon search
        input#search-input(type="text" autocomplete="off" placeholder="Type a package name...")
        button.btn.clear
          i.icon clear

      .search-results-container
    .push-to-side-overflow
      .push-to-side
        #bundle-time
        .flex.flex-1
        button.btn#run(type='button') Run
        button.btn.btn-share#share(type='button') Share
        .file-size Wait...
        .offline-icon.online(title="You are offline")
          //- span.icon wifi_off
          svg.icon(viewbox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
            path(d='M4.28106169,4.22500888 L18.7764524,18.7209962 C19.0693396,19.0138954 19.0693299,19.4887691 18.7764306,19.7816563 C18.4835314,20.0745435 18.0086576,20.0745337 17.7157704,19.7816345 L13.9305541,15.9956947 L6.69263446,15.9958741 C4.65355477,15.9958741 3.00055408,14.3471503 3.00055408,12.3133463 C3.00055408,10.3210486 4.58677382,8.69827375 6.56830717,8.63286782 L3.22037969,5.28564722 C2.9274925,4.99274798 2.92750227,4.51787424 3.22040152,4.22498705 C3.51330076,3.93209986 3.9881745,3.93210963 4.28106169,4.22500888 Z M12,4.00069473 C15.1685311,4.00069473 16.9659849,6.09798511 17.2273993,8.63082111 L17.3073655,8.63081851 C19.3464452,8.63081851 20.9994459,10.2795424 20.9994459,12.3133463 C20.9994459,14.0797322 19.7525621,15.5556461 18.0887965,15.9132336 L16.6735541,14.4976947 L17.2514265,14.4982844 C18.512419,14.4982844 19.5346554,13.4969988 19.5346554,12.2618503 C19.5346554,11.0267018 18.512419,10.0254161 17.2514488,10.0254161 L16.5608724,10.0254381 C16.1956601,10.0254498 15.8767103,9.74495783 15.8767103,9.38750235 C15.8767103,7.10258564 14.0713233,5.49828443 12,5.49828443 C10.8390418,5.49828443 9.76162755,6.01136739 9.03882127,6.85960535 L7.93124025,5.75195301 C8.81517847,4.68600889 10.1815387,4.00069473 12,4.00069473 Z M12.4325541,14.4976947 L7.83792595,9.90370102 C7.72405918,9.98051387 7.58529874,10.0254428 7.43912757,10.0254381 L6.74857351,10.0254161 C5.48758101,10.0254161 4.46534461,11.0267018 4.46534461,12.2618503 C4.46534461,13.4969988 5.48758101,14.4982844 6.74857351,14.4982844 L12.4325541,14.4976947 Z' id='🎨-Color')

  .flex-wrapper
    .app
      .center-container
        .loading
      #editor
        //- .emulate-monaco.opacity-0
          | // Click Run for the Bundled + Minified + Gzipped package size 
          br
          | export * from "@okikio/animate";
    
    .app#output
      .center-container
        .loading
      #editor 
        //- .emulate-monaco.opacity-0
          | // Output
  .container  
        
    //- p * Check the console for error messages and bundled code.
    //- p * Every 10 results the console will be cleared.
    //- br
    p * Note: Treeshaking is available, but since esbuild and rollup doesn't have access to each packages package.json, it assumes that there are sideEffects.
    br
    h2#usage Usage

    p You can use custom protocols to specify which CDN the module should come from.
    br
    p
      | * esm.run:react   ->   #[a(href="https://esm.run/react" target="_blank" rel="noopener") https://esm.run/react] 
      br
      | * esm.sh:react    ->   #[a(href="https://cdn.esm.sh/react" target="_blank" rel="noopener") https://cdn.esm.sh/react] 
      br
      | * esm:react       ->   #[a(href="https://cdn.esm.sh/react" target="_blank" rel="noopener") https://cdn.esm.sh/react] 
      br
      | * skypack:react   ->   #[a(href="https://cdn.skypack.dev/react" target="_blank" rel="noopener") https://cdn.skypack.dev/react] 
      br
      | * unpkg:react     ->   #[a(href="https://unpkg.com/react" target="_blank" rel="noopener") https://unpkg.com/react] 
      br
      | * jsdelivr:react  ->   #[a(href="https://cdn.jsdelivr.net/npm/react" target="_blank" rel="noopener") https://cdn.jsdelivr.net/npm/react] 
    br
    p e.g.
    :markdown-it(linkify langPrefix='language-')
      ```typescript
      import { toStr } from "skypack:@okikio/animate";
      // or
      export * from "esm:@okikio/animate"; 
      // or 
      export { animate } from "https://cdn.skypack.dev/@okikio/animate";
      ```
    br
    p.relative
      span="* If an error occurs try using a different CDN, by default "
      strong bundle
      |  uses
      a(href="https://cdn.skypack.dev" target="_blank" rel="noopener")  cdn.skypack.dev
      |  but you can use the others.
    br
    br
    h4#url-queries URL Queries & Shareable Links
    br
    p
      | You can now use search queries in #[strong bundle], all you need to do is add this to the url #[br]
      | #[code="?q={packages}&treeshake={methods to treeshake}"] #[br] #[br] 
      | e.g. #[br]
      | You want #[code react], #[code react-dom], #[code vue], and #[code @okikio/animate], but only want the #[code Animate] and #[code toStr] methods exported from #[code @okikio/animate].
      | #[br] #[br] You would add this to the url 
      a(href="/?q=react,react-dom,vue,@okikio/animate&treeshake=[*],[*],[*],[Animate,toStr]" rel="noopener")
        | ?q=react,react-dom,vue,@okikio/animate&treeshake=[*],[*],[*],[Animate,toStr]
      br 
      br
      | If you only want a couple packages and don't care to treeshake, then all you need is something like this,
      a(href="/?q=react,react-dom,vue,@okikio/animate" rel="noopener")
        | ?q=react,react-dom,vue,@okikio/animate
      | There is another way to share a reproduciable bundle, the sharable link. Shareble links look like this #[a(href="/?share=PTAEGEBsEsGMGtQCUCuA7UAzA9gJ1AC4AWApqAELoAmkJVoA1KALLRrSbR2OgDiAXtAAOQ7kICGCcQHMyAZ2j8SAKBIAPIXgKgAVFlzYAtqABEAAWzxoV7MHHtD4giRMBuIA" rel="noopener") /?share=PTAEGEBsEsGMGtQCUCuA7UAzA9gJ1AC4AWApqAELoAmkJVoA1KALLRrSbR2OgDiAXtAAOQ7kICGCcQHMyAZ2j8SAKBIAPIXgKgAVFlzYAtqABEAAWzxoV7MHHtD4giRMBuIA] with the string value of the input code editor being compressed into a string and placed into the URL. 
      br
      br
      | In order to create a shareble link, you click the `Share` button, it copies the share url to your clipboard, and from there you can paste where you wish. 
    br
    br
    +product-hunt.place-content-center
        

block script  
  script(src="./js/load-webanimation-polyfill.min.js" type='module' async)
  script(src='./js/index.min.js' type='module' async)

  //- link(rel='modulepreload' href='./js/esbuild.worker.js')
  //- link(rel="prefetch" href="./js/esbuild.worker.js")
  