extends /layouts/layout.pug

block content
  .container
    header
      h1 bundle
      p a quick npm package size checker

    .push-to-side
      button.btn#run(type='button') Run
      .file-size ...
    #app
      .center-container
        .loading
      #editor
    p * Check the console for error messages and bundled code.
    p * Every 10 results the console will be cleared.