extends /layouts/layout.pug

block content
  .container
    header
      h1 bundle
      p a quick npm package size checker

    #app
      .center-container
        .loading
        .text-center Loading...
      #editor
