.analysis-section {
  @apply self-center;

  [custom-handle] {
    @apply w-full;
  }
  
  [custom-details] {
    @apply bg-gray-100 dark:bg-primary/20 rounded-3xl;

    &[open] {
      @apply rounded-2xl;
    }
  }

  .analysis-loader {
    @apply absolute top-0 left-0 w-full h-full;
    @apply flex items-center justify-center;

    .loader-content {
      @apply absolute top-0 left-0 w-full h-full;
      @apply flex items-center justify-center;
    }
  }

  .analysis-iframe {
    @apply absolute top-0 left-0 w-full h-full;
    color-scheme: none;
  }
}

.dom-loaded .analysis-section [custom-details] {
  transition: border-radius 0.35s ease;
}