:where(.contain) {
  @apply container gap-3;
  @apply px-3;

  &.px-none {
    @apply px-0;
  }

  &.lt-md\:px-none {
    @apply lt-md:px-0;
  }

  &.col {
    @apply flex flex-col;
  }

  &.md {
    @apply max-w-screen-md;
  }

  &.lg {
    @apply max-w-screen-lg;
  }

  &.xl {
    @apply max-w-screen-xl;
  }
}
