.search-offset {
  @apply w-full;
  @apply py-8;
}

.search-backdrop {
  @apply transition-opacity duration-200;
  @apply fixed top-0 left-0 w-[100vw] h-[100vh];
  @apply bg-slate-200/50 dark:bg-black/50;
  @apply opacity-0;
  @apply pointer-events-none;
  @apply z-[5];

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);

    &[data-open=true] {
      @apply opacity-100;
      @apply pointer-events-auto;
    }
  }
}

dialog.search-container {
  @apply bg-transparent;
  @apply absolute top-2 w-full;
  @apply p-0;

  &:not([open]) {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
    }
  }

  height: fit-content;
  max-height: 410px;
  @apply overflow-auto pointer-events-none;
  @apply border border-transparent;
  @apply shadow-lg shadow-transparent;
  @apply bg-transparent;
  @apply z-30;

  &:before {
    content: "";
    @apply absolute inset-0;
    @apply opacity-0;
    @apply z-10;
  }

  &[open],
  &:before {
    @apply border border-gray-200 dark:border-quaternary;
    @apply bg-white dark:bg-black;
    @apply rounded-xl shadow-lg;
  }

  @at-root .dom-loaded dialog.search-container {
    &,
    &:before {
      @apply transition-all duration-[200ms];
    }

    &[open],
    &[open]:before {
      @apply transition-all duration-[400ms];
    }

    &[open],
    &:before {
      @apply rounded-lg sm:rounded-xl;
    }

    & .search,
    & .search-input,
    & .search-results,
    & .results-list,
    & [custom-button]#clear {
      @apply transition-all duration-300;
    }
  }

  &,
  &[open] {
    @apply block;
  }

  &[open] {
    @apply pointer-events-auto;

    &:before {
      @apply shadow-transparent border-transparent;
    }

    &:before,
    & .search-results {
      @apply opacity-100;
    }

    & .results-list {
      @apply scale-100;
    }

    & .search-input { 
      @apply px-3 pt-3 sm:px-4 sm:pt-4;
    }

    & .search {
      @apply bg-gray-100 dark:bg-gray-900;
      @apply border-transparent;

      & [custom-button]#clear {
        @apply opacity-100 pointer-events-auto;
      }
    }
  }
}

.search-input {
  @apply sticky top-0 z-20 pointer-events-auto;
  @apply px-1 pt-1;
}

.search {
  @apply focus-within:ring-4 focus-within:ring-blue-500 focus-within:ring-opacity-50;
  @apply border border-gray-300;

  @apply bg-white;
  @apply dark:bg-black;
  @apply dark:border-gray-700;

  @apply flex items-center rounded-md sm:rounded-lg;
  @apply px-1 py-1;

  input#input {
    @apply w-full ml-2 px-2  bg-transparent align-middle focus:outline-none;

    &::placeholder {
      @apply text-gray-400;
    }
  }

  [custom-button]#clear {
    @apply opacity-0 pointer-events-none;
  }

  [astro-icon] {
    @apply w-6 h-6;
  }

  [custom-button] {
    @apply px-3 py-1.5 gap-3;
    @apply flex flex-row justify-center;
    @apply bg-secondary/20 hover:bg-secondary/40;

    @apply dark:bg-primary/20 dark:hover:bg-primary/40;
  }
}

.search-results {
  @apply px-2 sm:px-5 py-4;
  @apply relative bg-transparent;

  @apply w-full z-10;
  @apply divide-y divide-gray-200 dark:divide-quaternary;

  @apply opacity-0;

  .results-list {
    @apply flex flex-col;
    @apply scale-x-[102%] origin-top;
  }

  :is(h1, h2, h3, h4, h5, h6, p) {
    @apply pt-0;
  }
}

.result {
  @apply grid gap-6 sm:grid-cols-12;
  @apply px-3 py-5;

  &.error {
    @apply flex items-center justify-center;
  }

  .content {
    @apply flex flex-col gap-3 break-words lt-md:break-all sm:col-span-9;

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
    }

    .updated-time {
      @apply text-gray-500 mt-1;
      font-size: 0.8rem;
    }
  }

  .add {
    @apply flex sm:text-center sm:col-span-3;
    justify-content: end;
    align-items: center;

    .btn {
      @apply px-3 py-2;
      @apply w-full relative block m-0;
      @apply bg-secondary/10 dark:bg-primary/10;
      @apply hover:bg-secondary/30 dark:hover:bg-primary/30;
      @apply active:bg-primary/30 dark:active:bg-secondary/30;

      .btn-text {
        @apply whitespace-nowrap;
        @apply align-middle;
        @apply leading-none;
        
        .text-value {
          @apply py-1.5;
        }
      }
    }
  }
}
