---
import { Icon } from "astro-icon";
import Button from "../Button";
---
<div class="search">
  <div class="px-3 py-2 gap-3 flex flex-row justify-center">
    <Icon name="fluent:search-24-filled" />
  </div>

  <input id="input" type="text" autocorrect="off" autocomplete="off" placeholder="Type a package name..." />

  <Button class="clear umami--click--search-clear-button" title="Clear search input">
    <Icon name="fluent:dismiss-24-filled" />
  </Button>
</div>

<dialog class="results"></dialog>

<style lang="scss">
  .search {
    @apply focus-within:ring-4 focus-within:ring-blue-500 focus-within:ring-opacity-50;
    @apply border border-gray-300;

    @apply flex items-center rounded-lg;
    @apply px-1 py-1;

    @at-root :global(.dark) .search {
      @apply bg-black;
      @apply border-gray-700;
    }

    input#input {
      @apply w-full ml-2 p-2 bg-transparent align-middle focus:outline-none;

      &::placeholder {
        @apply text-gray-400;
      }
    }

    :global([astro-icon]) {
      @apply w-6 h-6;
    }

    [custom-button] {
      @apply px-3 py-1.5 gap-3;
      @apply flex flex-row justify-center;
      @apply bg-secondary/20 hover:bg-secondary/40;
    }

    @at-root :global(.dark) {
      [custom-button] {
        @apply bg-primary/20 hover:bg-primary/40;
      }
    }

    // .clear {
    //   @apply transform scale-[0.85] active:scale-75 active:bg-gray-600;
    //   @apply hover:bg-gray-200 dark:hover:bg-tertiary;
    //   @apply text-black dark:text-white m-0;
    // }
  }
</style>