---
import Icon from "astro-icon";
import Button from "../Button";
import Loading from "../Loading";

---

<div class="activity-section">
  <div class="activity-container">
    <Button class="umami--click--bundle-build-button">Build</Button>
    <Button class="umami--click--bundle-share-button">
      <Icon name="fluent:share-24-regular" />
      Share
    </Button>
    <div class="bundle-results" title="Uncompressed -&gt; Compressed">
      <!-- <Loading size="md" /> -->
      11.34KB (gzip)
    </div>
  </div>
</div>