---
import Icon from "astro-icon";
import Container from "../Container.astro";

import Tabs from "./Tabs.astro";
import Activity from "./Activity.astro";
import DragHandle from "./DragHandle";
import MonacoEditor from "./MonacoEditor.astro";
import Console from "./Console.astro";

---
<Container max="lg" class="bundle-app-wrapper">
  <Tabs />
  <Activity />
  <div class="core">
    <MonacoEditor />
    <DragHandle direction="x" contrain={true} client:load />
    <Console />
  </div>
</Container>

