---

export interface Props {
  max?: string;
  class?: string;
}

let {
  max = "md",
  class: className = "col",
  ...attrs
} = Astro?.props?.content ?? Astro?.props;
---

<div class={`contain ${max} ${className}`} custom-container {...attrs}>
  <slot />
</div>

<style lang="scss">
  :where(.contain) {
    @apply container gap-3;
    @apply px-3;

    &.col {
      @apply flex flex-col;
    }

    &.md {
      @apply max-w-screen-md;
    } 

    &.lg {
      @apply max-w-screen-lg;
    } 

    &.xl {
      @apply max-w-screen-xl;
    } 
  }
</style>