---
  import Icon from "astro-icon";

  import Anchor from "./Anchor.astro";
  import OfflineBanner from "./OfflineBanner";

  let activeNav = (regex: RegExp) => {
    return regex.test(Astro.request.url) ? " active" : "";
  };
---

<nav>
  <div class="backdrop">
    <div class="container">
      <div class="flex items-end w-full h-full">
        <div class="w-full h-1 border-b border-b-gray-300/40 dark:border-b-elevated"></div>
      </div>
    </div>
  </div>
  <div class="container items">
    <div class="btn">
      <Anchor 
        href="/"
        class="logo"
        aria-label="bundlejs's logo, it's used on all social media site to identify and represent bundlejs"
        title="Logo">
        <Icon name="logo" />
        <span aria-hidden="true">bundlejs</span>
      </Anchor>
    </div>
    
    <div class="flex-grow"></div>
    <div class="menu">
      <div class="menu-items">
        <Anchor href="/about" class={"item" + activeNav(/\/about/)}>About</Anchor>
        <Anchor href="/faq" class={"item" + activeNav(/\/faq/)}>FAQ</Anchor>

        <div class="seperator"></div>
        <Anchor href="https://blog.okikio.dev/documenting-an-online-bundler-bundlejs" class="item">Docs</Anchor>

        <div class="btn xsm:hidden">
          <Anchor href="https://twitter.com/jsbundle" class="icon-btn item"
            aria-label="Link to the bundlejs's Twitter profile" title="Twitter" external={false}>
            <Icon name="mdi:twitter" />
          </Anchor>
        </div>
      </div>
    </div>

    <div class="btn lt-xsm:hidden">
      <Anchor href="https://twitter.com/jsbundle" class="icon-btn item"
        aria-label="Link to the bundlejs's Twitter profile" title="Twitter" external={false}>
        <Icon name="mdi:twitter" />
      </Anchor>
    </div>

    <div class="btn">
      <Anchor href="https://github.com/okikio/bundlejs" class="icon-btn item"
        aria-label="Link to the bundlejs's Github repo" title="Github" external={false}>
        <Icon name="mdi:github" />
      </Anchor>
    </div>

    <div class="btn">
      <OfflineBanner class="item offline-icon online" client:load />
    </div>

    <button type="button" data-nav-toggle class="toggle">
      <span class="text">Menu</span>
      <span class="dot"></span>
    </button>
  </div>
</nav>

<div class="navbar-offset"></div>


<script>
  let nav = document.querySelector("nav");
  let navToggle = nav.querySelector("[data-nav-toggle]");

  navToggle.addEventListener("click", function() {
    nav.classList.toggle("open");
  });
</script>

<style lang="scss">
  .navbar-offset {
    @apply pt-16;
  }

  nav {
    @apply fixed top-0 left-0 w-full h-16;
    @apply z-50;

    .backdrop {
      @apply absolute top-0 left-0 w-full;
      @apply -translate-y-1/2 h-[200%];
      @apply bg-white;

      @supports (backdrop-filter: blur(10px)) {
        @apply bg-opacity-70 backdrop-blur-xl backdrop-saturate-200;
      }
    }

    &.open .backdrop {
      @apply lt-sm:translate-y-0;
    }

    button,
    a {
      @apply text-secondary;
    }

    @at-root :global(.dark) nav {
      .backdrop {
        @apply bg-black;

        @supports (backdrop-filter: blur(10px)) {
          @apply bg-opacity-20 backdrop-blur-xl backdrop-saturate-200;
        }
      }
      
      button,
      a {
        @apply text-primary;
      }
    }

    @at-root :global(.dom-loaded) nav {
      .backdrop {
        @apply transition-transform duration-500;
      }

      button,
      a {
        transition-property: background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        @apply duration-200 ease-in-out;
      }
    }
  }

  .container {
    @apply flex items-center px-5;
    @apply w-full h-full max-w-screen-lg;
  }

  .logo,
  .btn {
    @apply z-10;

    a {
      @apply px-3 py-2 border border-transparent rounded-lg;
      @apply hover:text-secondary hover:bg-secondary/20;
      @apply block;
    }

    @at-root :global(.dark) {
      :is(.logo, .btn) a {
        @apply hover:text-primary hover:bg-primary/20;
      }
    }

    & :global(svg) {
      @apply min-w-[theme("spacing.6")] w-6 h-6;
      vertical-align: middle;
    }
  }

  .logo {
    @apply text-xl font-[600] no-underline;
    line-height: 1.75rem;
  }

  .items-horiz {
    @apply relative;
    @apply flex flex-row justify-end;
    @apply gap-1 sm:gap-2 items-center w-full;
  }

  .items {
    @apply relative;
    @apply flex flex-row justify-end;
    @apply gap-1 sm:gap-2 items-center w-full;

    .menu {
      @apply flex flex-row overflow-auto;
      @apply gap-1 sm:gap-2 items-center;
      @apply lt-sm:absolute lt-sm:top-16 lt-sm:left-0 lt-sm:w-full;
      @apply lt-sm:h-16;

      .menu-items {
        @apply p-1;
        @apply flex items-center mx-auto gap-2;
      }
    }

    @at-root :global(.dom-loaded) .items .menu {
      @apply duration-500;
    }

    .item,
    .toggle,
    .logo {
      @apply flex items-center gap-2;
    }

    .item,
    .toggle {
      font-family: Manrope, "Manrope-fallback", Helvetica, Arial, sans-serif;
      @apply capitalize text-sm tracking-wide font-500;
      @apply px-4 py-3 sm:px-4 sm:py-2 border border-transparent rounded-lg;
      @apply no-underline;
      @apply text-base;

      &:not(.offline-icon) {
        &.active,
        &:active,
        &:focus,
        &:hover {
          @apply text-secondary bg-secondary/20;
          text-decoration: 2px solid underline;
          text-underline-offset: 0.2rem;
        }
      }
      
      @at-root :global(.dark) .items {
        .item, 
        .toggle {
          &:not(.offline-icon) { 
            &.active,
            &:active,
            &:focus,
            &:hover {
              @apply text-primary bg-primary/20;
            }
          }
        }
      }
    }

    .icon-btn {
      @apply text-secondary bg-secondary/10;
    }
      
    @at-root :global(.dark) .items {
      .icon-btn {
        @apply text-primary bg-primary/10;
      }
    }

    .offline-icon {
      display: flex;
      @apply text-white bg-secondary;
    }
      
    @at-root :global(.dark) .items {
      .offline-icon {
        @apply text-black bg-primary;
      }
    }

    .toggle {
      @apply py-4;
      @apply text-secondary;
      @apply sm:hidden;
      
      @at-root :global(.dark) .items {
        .toggle {
          @apply text-primary;
        }
      }

      .text,
      .dot {
        @apply transition-transform duration-500;
        @apply leading-none;
      }

      .text {
        @apply translate-x-1.5;
      }

      .dot {
        @apply w-3 h-3 rounded-full;
        @apply block scale-[0.8] translate-x-1.5;
        @apply bg-current;
      }

      &:hover {
        .text {
          @apply translate-x-0;
        }

        .dot {
          @apply scale-[1.25];
        }
      }
    }

    .seperator {
      @apply border-l-2 border-solid;
      @apply border-secondary/30;
      @apply h-[1.25em];
    }
      
    @at-root :global(.dark) .items {
      .seperator {
        @apply border-primary/30;
      }
    }
  }

  @screen lt-sm {
    .menu {
      @apply -translate-y-full opacity-0 pointer-events-none invisible;
    }

    nav.open {
      .menu {
        @apply translate-y-0 opacity-100 pointer-events-auto visible;
      }
    }
  }
</style>