include /components/navbar.pug
include /components/footer.pug

doctype html
html.dark
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    block title
      title bundle - a quick npm package size checker
    meta(name='description' content='')
    meta(name="color-scheme" content="dark light")
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel="icon", type="image/svg+xml" href="./bundle.svg")

    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel="preconnect" href="https://unpkg.com/")

    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Material+Icons&family=Material+Icons+Round&display=swap' rel='stylesheet' async)
    script(src='./js/theme.min.js' type='module' async)

    link(rel='stylesheet' href='./css/app.css')

    block script

  body
    +navbar

    .navbar-offset
    main(data-wrapper)
      block content

    +footer

    link(rel="stylesheet", href="./js/monaco.min.css")
    //- link(rel='modulepreload' href='./js/monaco.min.js')
    //- link(rel='modulepreload' href='./js/esbuild.min.js')

    //- link(rel='prefetch' href='./js/editor.min.js')
    //- link(rel='prefetch' href='./js/typescript.min.js')
    script(src='./js/main.min.js' type='module' defer)
