include /components/navbar.pug
include /components/footer.pug
include /components/product-hunt.pug
include /components/seo.pug

doctype html
html.dark(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- meta(name='viewport' content='initial-scale=1, viewport-fit=cover')

    link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
    link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg', color='#3b82f6')
    link(rel='shortcut icon', href='/favicon/favicon.ico')

    meta(name="msvalidate.01" content="172CC0D862133254CEF11D5624943FB0")
    meta(name='google-site-verification' content='S-6kBX5nZdh8ykHtFVIwp38pwSwX0AgYGWV0o-m3pBY')
    meta(name='google-site-verification' content='-uCBVPddJYYe5bf7vg2nM14KhGtfzcHA432Eu6ebAeQ')

    meta(name='msapplication-TileColor', content='#3b82f6')
    meta(name='msapplication-config', content='/favicon/browserconfig.xml')
    
    // Theme set
    script(type='module' src="/js/theme.min.js" async fetchpriority="high")

    meta(name='theme-color', content='#ffffff' media="(prefers-color-scheme: light)")
    meta(name='theme-color', content='#000000' media="(prefers-color-scheme: dark)")
    
    meta(name='color-scheme', content='dark light')

    link(rel='search' href='https://bundlejs.com/open-search.xml' type='application/opensearchdescription+xml' title='bundlejs')

    link(rel="icon", type="image/svg+xml" href="/favicon/favicon.svg")
    link(rel="manifest", href="/manifest.json")

    meta(name="web-author" content="Okiki Ojo")
    meta(name="robots" content="index, follow")

    link(rel='preconnect' href='https://fonts.gstatic.com')
    //- link(rel="preload" href='https://fonts.gstatic.com/s/manrope/v4/xn7gYHE41ni1AdIRggexSg.woff2' as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="https://fonts.gstatic.com/s/materialiconsround/v62/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2" as="font" type="font/woff2" crossorigin)

    //- link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap' rel='stylesheet' async)
    //- link(href='https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Round&display=block' rel='stylesheet' async)

    link(rel='stylesheet' href='/css/app.min.css')

    -
      let defaults = {
        url: "/",
        websiteURL: "https://bundlejs.com",
        title: "bundlejs - Online bundler + npm package size checker",
        description: "A quick and easy way to bundle, minify, and compress (gzip and brotli) your ts, js, jsx and npm projects all online, with the bundle file size.",
        keywords: "bundlejs, bundle js, bundle size, bundle npm, rollup, esbuild, gzip, npm, brotli, deno, bundler, treeshake, bundlephobia, cdn, github, skypack, unpkg, compressed, jsx, online bundler, size, package, minify, es2020, monaco-editor, typescript"
      };

    block pageInfo
      - let page = {};

    -
      page = Object.assign({}, defaults, page, {
        keywords: ("keywords" in page) ? page.keywords : defaults.keywords
      });

    block seo
      +seo(page, defaults)

    block preload
  body
    +navbar

    .prompt-container
      .horz
        .info-prompt.offline-ready
          p Ready to work offline!
          .flex-1
          button.btn.dismiss(type="button") DISMISS
        .info-prompt.reload
          p New content is available. Click OK to refresh all open tabs.
          .flex-1
          div.flex.self-end
            button.btn.accept(type="button") OK
            button.btn.dismiss(type="button") DISMISS

    .navbar-offset
    main#main(data-wrapper)
      block styles

      //- block seo
        +seo(page, defaults)
      title= page.title

      block preload

      block content

    block footer
      +footer
    
    //- script(src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es2015,es2018,Array.prototype.includes,Promise,Intl" async fetchpriority="high")
    //- script(src='https://analytics.bundlejs.com/umami.js' data-website-id='8bc0c9cc-4c05-4667-971e-6f3cf4200de5' defer)
    //- { "source": "/measure/count.js", "destination": "https://analytics.bundlejs.com/umami.js" },
    script(src='https://bundlejs.com/measure/umami.js' data-website-id='8bc0c9cc-4c05-4667-971e-6f3cf4200de5' defer)
    script(src='/js/main.min.js' type='module' async)

    block script
