include /components/navbar.pug
include /components/footer.pug

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  block title
    title Homepage
  meta(name='description' content='')
  meta(name="color-scheme" content="dark light")
  meta(name='viewport' content='width=device-width, initial-scale=1')

  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(rel='stylesheet' href='./css/app.css' async)
  link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Material+Icons&family=Material+Icons+Round&display=swap' rel='stylesheet' async)

  script(src='./js/theme.js' type='module' async)
  script(src='https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es2015,es2016,es2017,es2018,Object.entries,fetch,IntersectionObserver,IntersectionObserverEntry,smoothscroll,matchMedia,localStorage,getComputedStyle,WebAnimations' defer)

body
  +navbar

  .navbar-offset
  main(data-wrapper)
    block content

  +footer
  script(src='./js/legacy.min.js' nomodule)
  script(src='./js/modern.min.js' type='module' async)
