include /components/navbar.pug
include /components/footer.pug

doctype html
html.dark(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    block title
      title bundle - a quick npm package size checker
    meta(name='description' content=`bundle is a quick and easy way to bundle your projects, minify and see it's gzip size, it's similar to bundlephobia but does all the work locally on you computer and can treeshake and bundle multiple packages (both commonjs and esm) together, it currently doesn't support JSX, but packages without JSX are good.`)
    meta(name="color-scheme" content="dark light")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon", type="image/svg+xml" href="./bundle.svg")

    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='./css/app.min.css')

    //- link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap' rel='stylesheet' async)
    //- link(href='https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Round&display=block' rel='stylesheet' async)
    script(src='./js/theme.min.js' type='module' async)

    block preload
  body
    +navbar

    .navbar-offset
    main(data-wrapper)
      block content

    block footer
      +footer

    script(src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es2015,es2018,Array.prototype.includes,Map,Set,Promise,Intl" async)
    script(src="./js/load-webanimation-polyfill.min.js" type='module' async)

    block script
