---
// Component Imports
import { Markdown } from "astro/components";
import Icon from "astro-icon";

import BaseLayout from '../layouts/BaseLayout.astro';

import Anchor from "../components/Anchor.astro";
import Container from "../components/Container.astro";
import ProductHunt from "../components/ProductHunt.astro";
import SearchBar from "../components/SearchSection/SearchBar.astro";
// import EditorSection from "../components/EditorSection/EditorSection.astro";

import { Content as Docs } from "../components/DocsSection/Docs.md";
---

<BaseLayout>
  <Container max="lg">
    <header>
      <h1>bundlejs</h1>
      <p> a quick npm package size checker </p>
    </header>

    <SearchBar />

    <!-- <EditorSection /> -->
  </Container>

  <Container>
    <Docs />
  </Container> 
</BaseLayout>