---
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'bundle - a quick npm package size checker';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<!DOCTYPE html>
<html class="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>bundle - a quick npm package size checker</title>
    <meta name="description" content="bundle is a quick and easy way to bundle your projects, minify and see it's gzip size, it's similar to bundlephobia but does all the work locally on you computer and can treeshake and bundle multiple packages (both commonjs and esm) together, it currently doesn't support JSX, but packages without JSX are good.">
    
    <meta name="color-scheme" content="dark light">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://cdn.skypack.dev">

    <link rel="stylesheet" href="/style/global.css">
    <script src="/js/theme.min.js" type="module" async></script>
</head>

<body>
    <Navbar></Navbar>
    <div class="navbar-offset"></div>

    <main data-wrapper>
        <slot name="content"></slot>
    </main>

    <slot name="footer">
        <Footer></Footer>
    </slot>

    <link rel="stylesheet" href="/js/monaco.min.css">
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es2015,es2018,Array.prototype.includes,Map,Set,Promise,Intl" async></script>
    <script src="./js/webanimation-polyfill.min.js" type="module" async></script>
    
    <slot name="script"></slot>
</body>

</html>