---
  import SEO from '../components/SEO.astro';
  import Footer from '../components/Footer/index.tsx';
  import Navbar from '../components/Navbar.astro';

  const content = Astro?.props?.content ?? Astro?.props;
---

<!DOCTYPE html>
<html class="dark" lang={content.lang || 'en' }>

<head>
  <SEO title={content.title} description={content.description} />
</head>

<body>
  <Navbar />

  <div class="prompt-container">
    <div class="horz">
      <div class="info-prompt offline-ready">
        <p>Ready to work offline!</p>
        <div class="flex-1"></div><button class="btn dismiss" type="button">DISMISS</button>
      </div>
      <div class="info-prompt reload">
        <p>New content is available. Click OK to refresh all open tabs.</p>
        <div class="flex-1"></div>
        <div class="flex self-end"><button class="btn accept" type="button">OK</button><button class="btn dismiss"
            type="button">DISMISS</button></div>
      </div>
    </div>
  </div>

  <main id="main" data-wrapper>
    <slot />
  </main>

  <Footer />

  <!-- 
  <script src="/js/measure.min.js" data-host-url="https://bundlejs.com" data-domains="bundlejs.com,bundle.js.org,bundlesize.com" data-website-id="8bc0c9cc-4c05-4667-971e-6f3cf4200de5" type="module" async></script>
  <script src="/js/main.min.js" type="module" async fetchpriority="high"></script> 
    -->
</body>

</html>